.actor-show-container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 950px;
    margin: 0 auto;
}

.actor-show-sidebar{
    display: flex;
    flex-direction: column;
    width: 230px;
}

.actor-show-main{
    width: 670px;
}

.actor-show-header-container{
    margin: 0 0 15px;
    border-bottom: 1px solid #456;
}

.actor-show-header{
    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 11px;
    font-weight: 400;
    margin: 0 0 4px;
    letter-spacing: .075em;
    color: #9ab;
}

.actor-show-title{
    font-size: 19px;
    font-weight: 800;
    color: #ffffff;
    font-family: Graphik-Semibold-Web,sans-serif;
    letter-spacing: .075px;
    margin-bottom: 20px;
}

.actor-image-container{
    margin: 0 0 30px;
    width: 230px;
    height: 345px;
}

.actor-image{
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 1px solid hsla(0,0%,100%,.25);
    transition: all .5s;
}

.actor-image:hover{
    border: 1px solid rgb(143, 143, 143);
    transition: all .5s;
}