.edit-pen{
    display: block;
    background: green;
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-size: 800px 1000px;
    background-position: -624px -124px;
    width: 25px;
    height: 27px;
    cursor: pointer;
}
