li {
    list-style-type: none;
}

.reviews-list{
    margin:0;
    padding:0;
}

.review-item-container{
    display: flex;
    padding-top: 5px;
    border-color: #2c3440;
    padding-bottom: 15px;
    border-bottom: 1px solid #456;
    /* overflow: hidden; */
    padding: 15px 0 18px;
}

.review-item-avatar{
    display: block;
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 22px;
    border: 1px solid hsla(0,0%,100%,.25);
}

.review-item-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.review-item-header{
    display: flex;
    justify-content: space-between;

    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 13px;
    color: #667788;
    margin-bottom: 10px;
}

.review-item-body{
    font-family: Tiempos Headline Regular;
    font-size: 15px;
    color: #99AABB;
    margin-bottom: 10px;
}

.review-username{
    font-family: Graphik-Semibold-Web,sans-serif;
    font-weight: 800;
    color: #abc;
    padding-left: 4px;
    padding-right: 4px;
}

.review-item-header-extended{
    display: flex;
    flex-direction: row;
}


.green1{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-position: -388px -130px;
    height: 15px;
    width: 16px;
    margin-left: 6px;
}

.green2{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-position: -388px -130px;
    height: 15px;
    width: 32px;
    margin-left: 6px;
}

.green3{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-position: -388px -130px;
    height: 15px;
    width: 48px;
    margin-left: 6px;
}

.green4{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-position: -388px -130px;
    height: 15px;
    width: 65px;
    margin-left: 6px;
    
}

.green5{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-position: -450px -50px;
    height: 15px;
    width: 65px;
    margin-left: 6px;
}

.fa-trash-alt{
    display: block;
    height: 20px;
    width: 20px;
    font-size: 12px;
    cursor: pointer;
}

.review-username:hover{
    color: #ffffff;
}