.movie-show-body{
    display: absolute;
    position:fixed;
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    top:0;
    left:0;
    /* background: #13191d; */
    background: #14181d;
}

.background-image-container{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 675px;
    /* border: 4px solid #006000; */
    box-sizing: border-box;
    background-image: linear-gradient(90deg,#14181d 0,rgba(20,24,29,.98556487) .97%,rgba(20,24,29,.9451312) 2.07833333%,rgba(20,24,29,.88300656) 3.29666667%,rgba(20,24,29,.80349854) 4.60166667%,rgba(20,24,29,.71091472) 5.96666667%,rgba(20,24,29,.60956268) 7.365%,rgba(20,24,29,.50375) 8.77166667%,rgba(20,24,29,.39778426) 10.16%,rgba(20,24,29,.29597303) 11.505%,rgba(20,24,29,.20262391) 12.78%,rgba(20,24,29,.12204446) 13.95833333%,rgba(20,24,29,.05854227) 15.01666667%,rgba(20,24,29,.01642493) 15.92833333%,rgba(20,24,29,0) 16.66666667%,rgba(20,24,29,0) 83.33333333%,rgba(20,24,29,.01642493) 84.07166667%,rgba(20,24,29,.05854227) 84.98333333%,rgba(20,24,29,.12204446) 86.04166667%,rgba(20,24,29,.20262391) 87.22%,rgba(20,24,29,.29597303) 88.495%,rgba(20,24,29,.39778426) 89.84%,rgba(20,24,29,.50375) 91.22833333%,rgba(20,24,29,.60956268) 92.635%,rgba(20,24,29,.71091472) 94.03333333%,rgba(20,24,29,.80349854) 95.39833333%,rgba(20,24,29,.88300656) 96.70333333%,rgba(20,24,29,.9451312) 97.92166667%,rgba(20,24,29,.98556487) 99.03%,#14181d),linear-gradient(0deg,#14181d 0,#14181d 21.48148148%,rgba(20,24,29,.98556487) 23.63703704%,rgba(20,24,29,.9451312) 26.1%,rgba(20,24,29,.88300656) 28.80740741%,rgba(20,24,29,.80349854) 31.70740741%,rgba(20,24,29,.71091472) 34.74074074%,rgba(20,24,29,.60956268) 37.84814815%,rgba(20,24,29,.50375) 40.97407407%,rgba(20,24,29,.39778426) 44.05925926%,rgba(20,24,29,.29597303) 47.04814815%,rgba(20,24,29,.20262391) 49.88148148%,rgba(20,24,29,.12204446) 52.5%,rgba(20,24,29,.05854227) 54.85185185%,rgba(20,24,29,.01642493) 56.87777778%,rgba(20,24,29,0) 58.51851852%);

    /*start testing - only up to center test text*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /*end testing - only up to center test text*/
}

.background-image-container:after{
    content: "";
    background-image: linear-gradient(90deg,#14181d 0,rgba(20,24,29,.98556487) .97%,rgba(20,24,29,.9451312) 2.07833333%,rgba(20,24,29,.88300656) 3.29666667%,rgba(20,24,29,.80349854) 4.60166667%,rgba(20,24,29,.71091472) 5.96666667%,rgba(20,24,29,.60956268) 7.365%,rgba(20,24,29,.50375) 8.77166667%,rgba(20,24,29,.39778426) 10.16%,rgba(20,24,29,.29597303) 11.505%,rgba(20,24,29,.20262391) 12.78%,rgba(20,24,29,.12204446) 13.95833333%,rgba(20,24,29,.05854227) 15.01666667%,rgba(20,24,29,.01642493) 15.92833333%,rgba(20,24,29,0) 16.66666667%,rgba(20,24,29,0) 83.33333333%,rgba(20,24,29,.01642493) 84.07166667%,rgba(20,24,29,.05854227) 84.98333333%,rgba(20,24,29,.12204446) 86.04166667%,rgba(20,24,29,.20262391) 87.22%,rgba(20,24,29,.29597303) 88.495%,rgba(20,24,29,.39778426) 89.84%,rgba(20,24,29,.50375) 91.22833333%,rgba(20,24,29,.60956268) 92.635%,rgba(20,24,29,.71091472) 94.03333333%,rgba(20,24,29,.80349854) 95.39833333%,rgba(20,24,29,.88300656) 96.70333333%,rgba(20,24,29,.9451312) 97.92166667%,rgba(20,24,29,.98556487) 99.03%,#14181d),linear-gradient(0deg,#14181d 0,#14181d 21.48148148%,rgba(20,24,29,.98556487) 23.63703704%,rgba(20,24,29,.9451312) 26.1%,rgba(20,24,29,.88300656) 28.80740741%,rgba(20,24,29,.80349854) 31.70740741%,rgba(20,24,29,.71091472) 34.74074074%,rgba(20,24,29,.60956268) 37.84814815%,rgba(20,24,29,.50375) 40.97407407%,rgba(20,24,29,.39778426) 44.05925926%,rgba(20,24,29,.29597303) 47.04814815%,rgba(20,24,29,.20262391) 49.88148148%,rgba(20,24,29,.12204446) 52.5%,rgba(20,24,29,.05854227) 54.85185185%,rgba(20,24,29,.01642493) 56.87777778%,rgba(20,24,29,0) 58.51851852%);
}

.fade{
    display: block;
    position: absolute;
    width: 1200px;
    height: 800px;
    z-index: 10;
    background-image: linear-gradient(90deg,#14181d 0,rgba(20,24,29,.98556487) .97%,rgba(20,24,29,.9451312) 2.07833333%,rgba(20,24,29,.88300656) 3.29666667%,rgba(20,24,29,.80349854) 4.60166667%,rgba(20,24,29,.71091472) 5.96666667%,rgba(20,24,29,.60956268) 7.365%,rgba(20,24,29,.50375) 8.77166667%,rgba(20,24,29,.39778426) 10.16%,rgba(20,24,29,.29597303) 11.505%,rgba(20,24,29,.20262391) 12.78%,rgba(20,24,29,.12204446) 13.95833333%,rgba(20,24,29,.05854227) 15.01666667%,rgba(20,24,29,.01642493) 15.92833333%,rgba(20,24,29,0) 16.66666667%,rgba(20,24,29,0) 83.33333333%,rgba(20,24,29,.01642493) 84.07166667%,rgba(20,24,29,.05854227) 84.98333333%,rgba(20,24,29,.12204446) 86.04166667%,rgba(20,24,29,.20262391) 87.22%,rgba(20,24,29,.29597303) 88.495%,rgba(20,24,29,.39778426) 89.84%,rgba(20,24,29,.50375) 91.22833333%,rgba(20,24,29,.60956268) 92.635%,rgba(20,24,29,.71091472) 94.03333333%,rgba(20,24,29,.80349854) 95.39833333%,rgba(20,24,29,.88300656) 96.70333333%,rgba(20,24,29,.9451312) 97.92166667%,rgba(20,24,29,.98556487) 99.03%,#14181d),linear-gradient(0deg,#14181d 0,#14181d 21.48148148%,rgba(20,24,29,.98556487) 23.63703704%,rgba(20,24,29,.9451312) 26.1%,rgba(20,24,29,.88300656) 28.80740741%,rgba(20,24,29,.80349854) 31.70740741%,rgba(20,24,29,.71091472) 34.74074074%,rgba(20,24,29,.60956268) 37.84814815%,rgba(20,24,29,.50375) 40.97407407%,rgba(20,24,29,.39778426) 44.05925926%,rgba(20,24,29,.29597303) 47.04814815%,rgba(20,24,29,.20262391) 49.88148148%,rgba(20,24,29,.12204446) 52.5%,rgba(20,24,29,.05854227) 54.85185185%,rgba(20,24,29,.01642493) 56.87777778%,rgba(20,24,29,0) 58.51851852%);
}

.background-image{
    /* disp */
    position: relative;
    width: 100%;
    z-index: -10;
}


.movie-show-container{
    padding-top: 400px;
}

.movie-show-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 950px;
    margin: 0 auto;
    overflow: visible;
    z-index: 1;
}

.movie-show-poster-link-container{
    display: block;
    width: 230px;
    margin-right: 50px;
    position: sticky;
}

.poster-panel{
    display: block;
}

.poster-container{
    position: abosolute;
    height: 345px;
    border-radius: 4px; 
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,.35);
}

.poster{
    border: 1px solid #9ab;
    border-radius: 4px; 
}

.movie-stats{
    display: block;
    margin: 0;
    position: relative;
    padding: 10px 0 5px;
    text-align: center;

}

.watch-panel{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 0;
    padding: 8px 10px 9px;
    text-align: center;
    font-size: 13px;
}

.fa-youtube{
    font-size: 16px;
    margin-right: 8px;
}

.trailer-link-container{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.trailer-link-container:hover, button:hover{
    color: #FFFFFF;
    cursor: pointer;
}


.movie-show-info{
    display: block;
    width: 670px;
    overflow: visible;
}

.movie-show-info-header{
    margin: -3px 0 30px;
}

.movie-show-title{
    text-shadow: #000 2px 0 5px;
    display: inline;
    margin: 0 7px 0 0;
    /* font-family: TiemposHeadlineWeb-Bold,sans-serif; */
    font-family:Tiempos Headline Bold;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
}

.movie-show-year{
    display: inline;
    max-width: 100%;
    font-size: 17px;
    line-height: 1.6;
    color: #9ab;
    text-shadow: #000 2px 0 5px;
    margin: 0;
    white-space: nowrap;
    font-family: Graphik-Light-Web,sans-serif;
    font-weight: 400;
    letter-spacing: .02em;
}

/* may include tags section if bonus hit */
.movie-show-info-description{
    display: inline-block;
    /* font-family: Graphik-Light-Web,sans-serif; */
    font-family: Tiempos Headline Regular;
    width: 390px;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 1.53625;
}

.actions-panel{
    display: inline-block;
    position: absolute;
    width: 230px;
    margin-bottom: 1.53846154rem;
    font-size: 1rem;
    list-style: none;
    background-color: #456;
    border-radius: 4px; 
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,.35);
    margin-left: 50px;
    padding: 10px 0px;
}

.actions-panel-watch-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    color: #9ab;
}

.actions-panel-watch-container:hover{
    color: #FFFFFF;
}

.fa-eye{
    display: block;
    position: relative;
    padding-bottom: 3px;
    font-size: 30px;
}


.movie-show-info-reviews-container{
    display: block;
    position: relative;
    background: green;
    margin-bottom: 30px;
    width: 100%;   
}

.movie-show-reviews-header{
    font-family: Graphik-Regular-Web,sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #9ab;
    text-transform: uppercase;
    letter-spacing: .075em;
    margin-top: 0;
    margin-bottom: .76923077rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #9ab;
}

.movie-show-info-reviews{
    /*placeholder height*/
    height: 800px;
}


.trailer-link{
    font-size: 12px;
    text-decoration: none;
    color: #9ab;
    background: none;
    border: none;
}

.trailer-link:focus{
    outline: none;
}



/* 
.temp{
    position: absolute;
    top: 2000px;
} */

