.movies-index-container{
    display: block;
    position: relative;
    top: 150px;
}

.movies-index-header{
    margin: 0 auto;
    width: 664px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #456;
    font-family: Graphik-Regular-Web,sans-serif;
}

.movies-list{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    list-style: none;
    column-gap: 5px;
    margin: 0 auto;
    width: 664px;
    padding: 0px;
}

.index-thumbnail-link{
    text-decoration: none;
}


.movies-list li{
    height: 250px;
    width: 150px;
    border-radius: 4px;
}

.movies-list-item-container:hover{
    transition: .1s;
    box-shadow: 0 0 0 2px #00e054;
}

.movies-list-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 150px;
    background: #455565;
    border-radius: 4px;
    border: 1px solid #788898;
    box-sizing: border-box;
    overflow: hidden;
}

.index-thumbnail-container{
    max-width: 150px;
    height: auto;
    position: relative;
}

.index-thumbnail{
    max-width: 100%;
}


.movies-list-item-title{
    padding: 2px 0 5px;
    color: #bccbdd;
    font-weight: 800;
}

.index-item-actions{
    margin-left: -42px;
    background: rgba(0,0,0,.8);
    padding: 0;
    width: 84px;
    height: 28px;
    border-radius: 4px;
    position: absolute;
    bottom: 109px;
    left: 46%; 
    display: none;
}

.watched-index{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-size: 800px 1000px;
    background-position: -710px -700px;
    width: 25px;
    height: 27px;
    cursor: pointer;
   
}

.watched-index-container{
    width: 25px !important;
    height: 27px !important;
    margin-left: 10px;
}

.not-watched-index{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-size: 800px 1000px;
    background-position: -650px -700px;
    width: 25px;
    height: 27px;
    cursor: pointer;
}

.index-thumbnail-div:hover .index-item-actions{
    display: flex;
    flex-direction: row;
}

.index-thumbnail-div{
    position: relative;
    height: 321px;
}

.review-index-container{
    width: 25px !important;
    height: 27px !important;
    margin-left: 10px;
}

.review-index{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-size: 800px 1000px;
    background-position: -624px -124px;
    width: 25px;
    height: 27px;
    cursor: pointer;
}

.review-index:hover{
    background-position: -646px -125px;
}

.actionSignIn-Index{
    color: #bcd;
    text-decoration: none;
    font-family:'Graphik Regular';
    background-color: transparent;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-left: 11px;
    margin-top: 4px;
}

.actionSignIn-Index:hover{
    color: white;
}

.rating{
    margin-top: 5px;
    height: 21px;
    width: 140px;
    padding-left: 5px;
}

.ratingFive{
    color:transparent;
    height: 21px;
    width: 69px;
    background-position: -286px -89px;
    background-image: url(/sprite.c71fa7b3.svg);
}



.ratingFourHlf{
    color:transparent;
    height: 21px;
    width: 69px;
    background-position: -302px -89px;
    background-image: url(/sprite.c71fa7b3.svg);
}

.ratingFour{
    color:transparent;
    height: 21px;
    width: 52px;
    background-position: -302px -89px;
    background-image: url(/sprite.c71fa7b3.svg);
}

.ratingThreeHlf{
    color:transparent;
    height: 21px;
    width: 56px;
    background-position: -315px -89px;
    background-image: url(/sprite.c71fa7b3.svg);
}

.ratingThree{
    color:transparent;
    height: 21px;
    width: 38px;
    background-position: -316px -89px;
    background-image: url(/sprite.c71fa7b3.svg);
}

.ratingTwoHlf{
    color:transparent;
    height: 21px;
    width: 40px;
    background-position: -329px -89px;
    background-image: url(/sprite.c71fa7b3.svg);
}

.ratingTwo{
    color:transparent;
    height: 21px;
    width: 25px;
    background-position: -329px -89px;
    background-image: url(/sprite.c71fa7b3.svg);
}

.ratingOneHlf{
    color:transparent;
    height: 21px;
    width: 29px;
    background-position: -341px -89px;
    background-image: url(/sprite.c71fa7b3.svg);
}

.ratingOne{
    color:transparent;
    height: 21px;
    width: 14px;
    background-position: -341px -89px;
    background-image: url(/sprite.c71fa7b3.svg);
}

.ratingHlf{
    color:transparent;
    height: 21px;
    width: 14px;
    background-position: -355px -89px;
    background-image: url(/sprite.c71fa7b3.svg);
}

