.movie-show-container{
    padding-top: 400px;
}

.movie-show-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 950px;
    margin: 0 auto;
    overflow: visible;
}

.movie-show-poster-link-container{
    display: block;
    width: 230px;
    margin-right: 50px;
}

.poster-panel{
    display: block;
}

.poster{
    position: abosolute;
    background: green;
    height: 345px;
    border-radius: 4px; 
    border: 1px solid #9ab;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0,0,0,.35);
}

.movie-stats{

}