.trailer-container{
  background-color: #14181c;
  color: #678;
  padding: 10px 10px;
  border-radius: 3px;
  min-width: 800px;
  min-height: 800px;
}

.trailer{
  min-width: 560px; 
  min-height: 315px; 
  width: 100%;
  height: auto; 
}