.Profile-photo{
  height: 110px;
  width: 110px;
  border-radius: 55px;
  background-image: linear-gradient(blue, green) ;
  margin-right: 10px;
}

.profileHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    height: 110px;
    align-items: center;
}

.Profile-username{
  font-family:'Graphik Semibold';
  font-weight: 400;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    max-width: 450px;
    padding: 3px 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.69230769rem;
}
.profileHeaderUserInfo{
    display: flex;
    flex-direction: row;
}

.profileHeaderCountsUpper{
    color: #9ab;
    font-family:'Graphik Light';
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: .03846154em;
    display: block;
    margin-bottom: .38461538rem;
}

.profileHeaderMovieCount:hover .profileHeaderCountsUpper{
  color: #fff;
}

.profileHeaderMovieCount{
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px rgba(102, 119, 136, 0.281) solid;
    padding: 5px 15px;
    cursor: pointer;
}
.profileHeaderMovieCountLabel{
    color: #678;
    font-family:'Graphik Regular';
    font-size: .84615385rem;
    line-height: 1;
}


.profileMain{
  padding-top: 30px;
}

.profileTextLabel{
    color: #678;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(102, 119, 136, 0.808);
}

.profileBodyText:hover{
  color: #fff;
  cursor: pointer;
}

.ProfileMoviesSampleIndex{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ProfileMoviesSampleIndexItem{
  padding: 10px;
}

.ProfileMoviesAllIndex{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ProfileMoviesAllIndexItem{
  padding: 5px;
}

.profile-movies-all-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 70px;
    background: #455565;
    border-radius: 4px;
    border: 1px solid #788898;
    box-sizing: border-box;
    overflow: hidden;
}

.profile-movies-all-thumbnail-container{
    max-width: 70px;
    height: auto;
}