.Profile-photo{
  height: 110px;
  width: 110px;
  border-radius: 55px;
  background-image: linear-gradient(blue, green) ;
  overflow: hidden;
  border: solid 1px rgba(102, 119, 136, 0.808);
}

.profile-photo-container{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.profile-picture-image{
  height: 100%;
  width: 100%;
}

.settings-button{
  margin-top: 10px;
  color: #9ab;
  font-family:'Graphik Light';
  font-weight: 400;
  font-size: 11px;
  letter-spacing: .03846154em;
  display: block;
  margin-bottom: .38461538rem;
  background: none;
  border: none;
}

.settings-button:active{
  outline: none;
}

.profileHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
    height: 110px;
    align-items: center;
}

.Profile-username{
  font-family:'Graphik Semibold';
  font-weight: 400;
    line-height: 1;
    display: inline-block;
    vertical-align: middle;
    max-width: 450px;
    padding: 3px 0;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.69230769rem;
    padding-left: 20px;
}
.profileHeaderUserInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profileHeaderCountsUpper{
    color: #9ab;
    font-family:'Graphik Light';
    font-weight: 400;
    font-size: 2rem;
    letter-spacing: .03846154em;
    display: block;
    margin-bottom: .38461538rem;
}

.profileHeaderMovieCount:hover .profileHeaderCountsUpper{
  color: #fff;
}

.profileHeaderCountsDiv{
  display: flex;
  flex-direction: row;
}

.profileHeaderMovieCount{
    height: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px rgba(102, 119, 136, 0.281) solid;
    padding: 5px 15px;
    cursor: pointer;
}
.profileHeaderMovieCountLabel{
    color: #678;
    font-family:'Graphik Regular';
    font-size: .84615385rem;
    line-height: 1;
}


.profileMain{
  padding-top: 30px;
}

.profileTextLabel{
    color: #678;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(102, 119, 136, 0.808);
}

.profileBodyText:hover, .settings-button:hover{
  color: #fff;
  cursor: pointer;
}

.ProfileMoviesSampleIndex{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ProfileMoviesSampleIndexItem{
  padding: 10px;
}

.ProfileMoviesAllIndex{
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
   flex-wrap: wrap;
}

.ProfileMoviesAllIndexItem{
  padding: 5px;
  position: relative;
}

.profile-movies-all-item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 70px;
    background: #455565;
    border-radius: 4px;
    border: 1px solid #788898;
    box-sizing: border-box;
    overflow: hidden;
}

.profile-movies-all-thumbnail-container{
    max-width: 70px;
    height: auto;
}

.profile-movies-all-item-container:hover{
 border: 2px solid green;
}

.profile-movies-all-item-title{
    position: absolute;
    top: -27px;
    min-width: 100px;
   width: max-content;
    text-align: center;
    right: -8px;
    background: #303c4898;
    display: none;
    padding-left: 10px;
     padding-right: 10px;
}

.movie-tooltip{
    background: #303c48 !important; 
    color: #678 !important;

}
.movie-tooltip::after {
  border-top-color:#303c48  !important;
  border-top-style: solid !important;
  border-top-width: 6px !important;
}

.ProfileMoviesAllIndexItem:hover > .profile-movies-all-item-title{
  display: block;
}


.ReviewProfileDiv{
  min-height: 100px;
  margin-top: 10px;
  display: flex;
  margin-bottom: 10px;
}

.ProfileReviewSampleIndex{
  min-height: 100px;

}

.reviewProfileInfoDiv{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  position: relative;
}

.reviewProfileMovieTitle{
  padding-left: 6px;
  color: #fff;
  font-size: 1.69230769rem;
  font-family:'Tiempos Headline Semibold'
}

.reviewProfileInfoTitleDiv{
   display: flex;
  flex-direction: row;
}

.reviewProfileMovieYear{
  color: #89a;
  font-size: 1.38461538rem;
  font-family:'Graphik Light';
  padding-left: 10px;
  text-align: end;
}

.reviewProfileBody{
  font-size: 1.15384615rem;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 6px;
  font-family:'Tiempos Headline Regular';
  color: #9ab;
}
.green1{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-position: -388px -130px;
    height: 15px;
    width: 16px;
    margin-left: 6px;
}

.green2{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-position: -388px -130px;
    height: 15px;
    width: 32px;
    margin-left: 6px;
}

.green3{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-position: -388px -130px;
    height: 15px;
    width: 48px;
    margin-left: 6px;
}

.green4{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-position: -388px -130px;
    height: 15px;
    width: 65px;
    margin-left: 6px;
    
}

.green5{
    background-image: url(/sprite.c71fa7b3.svg);
    background-repeat: no-repeat;
    background-position: -450px -50px;
    height: 15px;
    min-width: 65px;
    margin-left: 6px;
}
