.settings-container{
    display: flex;
    position: relative;
    justify-content: space-between;
    top: 200px;
    width: 400px;
    /* height: 382px; */
    height: auto;
    background: #456;
    border-radius: 3px;
    padding: 22px 36px 26px;
}

.settings-form{
    display: flex;

}

.settings-close-button{
    display: inline-block;
    height: 25px;
    color: #9ab;
    text-align: end;
    padding: 2px;
    font-family: Graphik-Regular-Web,sans-serif;
    font-size: 21px;
}

.settings-close-button:hover{
  cursor: pointer;
  color: #FFFFFF;
}


.profile-image-preview{
    height: 110px;
    width: 110px;
    border-radius: 55px;
    overflow: hidden;
    border: solid 1px rgba(102, 119, 136, 0.808);
    object-fit: cover;
}

.settings-submit {
    width: 61.75px;
    height: 28.09px;
    color: #f4fcf0;
    margin-left: 5px;
    cursor: pointer;
    background: #00b020;
    box-shadow: inset 0 1px 0 hsla(0,0%,100%,.3);
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    font-family: Graphik-Semibold-Web,sans-serif;
    border: none;
    border-radius: 3px;
}

.settings-submit:focus{
    outline: none;
}


/* .profile-picture-image{
  height: 100%;
  width: 100%;
}

.form-group{

} */

