.searchbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    float: left;
    font-size: 1rem;
    line-height: 1.3;
    padding: 6px 30px 6px 10px;
    border-radius: 15px;
    color: #89a;
}

#searchbar-result{
    display: block;
    text-decoration: none;
    color: inherit;
    padding: 1px;
    
}
#searchbar-result-actor{
    display: block;
    text-decoration: none;
    color: rgb(133, 151, 152);
    padding: 1px;
}

#searchbar-result:hover, #searchbar-result-actor:hover {
    color:white;
}


.navbar-links{
    align-self: center;
    margin-left: 10px;
}

.results{
    position: absolute;
    top: 58px;
    right: 89px;
    border-radius: 15px;
    background-color: #414d5e;
    border: 1px solid #414d5e;
    padding: 5px;
    width: 17%; 
}